
@{
    ViewBag.Title = "spezificCharacter";
}

<h3>@ViewBag.Name</h3>
<div>&nbsp;</div>
<div>Lvl: @ViewBag.Level</div>
<div>&nbsp;</div>
<div>Race: @ViewBag.Race</div>
<div>&nbsp;</div>
<div>Profession: @ViewBag.Profession</div>
<div>&nbsp;</div>
<div>Guild: @ViewBag.Guildname</div>
<div>&nbsp;</div>
<div>Deaths: @ViewBag.Deaths</div>
<div>&nbsp;</div>
<div>Playtime on Character: @ViewBag.Age</div>




